@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: #333333;
}

::-webkit-scrollbar {
    display: none;
}

button:hover {
    transform: scale(0.95);
}