@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: #ffe0d2;
}

::-webkit-scrollbar {
    display: none;
}

button:active {
    transform: scale(0.95);
}

.scale:hover {
    transform: scale(1.02);
}

a.dropdown-item:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button.dropdown-item:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-form {
    color: #bbb;
}
