@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    display: none;
}

.headerBar {
    background-color: white;
    height: 102px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px
}

.headerBar a {
    color: black;
    text-decoration: none;
    left: 300px;
}

.headerBar-title {
    font-size: 32px;
}

.headerBar-text {
    font-size: 18px;
}

button:hover {
    transform: scale(0.95);
}